body {

    background-color:grey;
    font-family: 'Roboto', sans-serif;
}
 /*
.sectionone {
        background-image: url("pictures/image2.png");
        /* background-size:cover
        background-repeat: no-repeat;  
    } 

    .sectionfive {
        background-image: url("pictures/image8.png");
       /* // background-size:cover
        background-repeat: no-repeat;  
    } */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}

ul {
    margin-left: 550px;
    list-style: none;
    color: black;
}

li {
    padding: 10px 30px;
    display: inline-block;

}
.premium>p {
    color: white;
    font-weight: bold;
}
#firstbutton {
background-color:#F19201;
   color: white;
   height: 30px;
   width: 100px;
   border: #F19201   ;
}
#book {
    background-color:none;
       color: white;
       height: 30px;
       width: 100px;
       border: #F19201; /*to be corrected to the right color*/
    }
    